h1{
    color: #84316c;
    font-size: larger;
}
p{
    color: black;
    font-size:16px;
}
.maincolor{
color: blue;
font-family: cursive;
}
#cuatomfont{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}